
.main-body {
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.left-section {
    background-image: url(./background-image.jpg);
    background-size: cover;
    height: 100vh;
    width: 30%;
}

.right-section {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.s1-text {
    margin: 130px 100px 20px 40px;
    max-width: 40vw;
}

.section-1,
.section-3 {
    height: 35vh;
    background-color: rgb(242, 240, 240);
}

.section-2 {
    height: 30vh;
}

label {
  margin-top: 20px;
  font-family:monospace
}

h2 {
  font-family: "Fira Sans", sans-serif;
  font-size: 1.5rem;
  margin-top: 15px;
  margin-left: 40px;
}

.italic {
  font-style: italic;
}
.section-2,
.col {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
}

#col2 {
  margin-left: 70px;
}

#col1 {
  margin-left: 40px;
}

input:focus {
  border-color: blue;
  outline: none; /* Removes browser-specific outline */
  box-shadow: 1px 1px 5px -2px darkblue;
}

input:invalid {
  border-color: red;
  box-shadow: none;
}

input {
  width: 250px;
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(215, 215, 215);
  border-width: 1px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
  margin-top: 15px;
  margin-left: 40px;
}

/* RESET STYLESHEET */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }